.estiloencabezado{
    width: 100%;
    background-image:  url("../img-bg.png");
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:initial;
    
    }
    
    .logo{
        max-width: 12rem;
        max-height: 12rem;
        border-radius: 50%;
        
    }

    
    
    .parrafo{
       
        width: 100%;
        font-size: 2rem;
        font-family: cursive;
        color: white;
        background-color: rgb(25, 18, 100);
    
    }
    
    .form{
        background-color: rgb(178, 174, 250);
     
    }
    
    
    @media (max-width: 768px) {
        .parrafo {
            font-size: 1.5rem;
        }
        .logo{
            max-width: 10rem;
            max-height: 10rem;
        }
    
    }
    
    